[submodule "3rdparty/pe-parse"]
	path = 3rdparty/pe-parse
	url = https://github.com/trailofbits/pe-parse
[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
