[submodule "3rdparty/pe-parse"]
	path = 3rdparty/pe-parse
	url = https://github.com/trailofbits/pe-parse
[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "3rdparty/printf"]
	path = 3rdparty/printf
	url = https://github.com/mpaland/printf
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui
